.comprasMain {
    display: flex;
    flex-direction: column;
    
}

.comprasHeader {
    /* background: #16bac5; */
    color: #000;
    font-size: 18px;
    padding-left: 10%;
    padding-top: 20%;
    height: 30vh;
}

.compras {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comprasHeader h3 {
    font-size: 30px;
}



/* .compras a {
    font-size: 20px;
    color: #000;

} */

.comprasLista {
    display: flex;
    flex-direction: column;
    padding: 10%;
    width: 100%;
   
    
}

.comprasLista a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

.comprasLista li {
    list-style-type: none;
   
}

.comprasLista button {
    
    border: none;
    background: none;
}


.listas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px
}


.listas :nth-child(2n) {
    background: #FCFFF7;
    
}
.listas :nth-child(2n + 1) {
    background: rgba(192, 191, 191, 0.205);
   
}

.iconRemove{
    font-size: 24px;
 
}
