.voltar {
    display: flex;
    justify-content: flex-start;
    background: #b799d6;
    padding: 15px;
}

.voltar button { 
    background: none;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    color: #ffffff

}
