.listaHeader {
    background: #b799d6;
    color: #000;
    font-size: 18px;
    padding-left: 10%;
    padding-top: 20%;
    height: 30vh;
    border-radius: 0 0 30px 30px;
    
}

.listaDescricao {
    display: flex;
    flex-direction: column;
    padding: 10%;
    width: 100%;
    
}

.listaDescricao li{
    list-style-type: none;
    background: white;
    box-shadow: 0 4px 8px 0;
    border-radius: 8px;
    margin-right: 35px;

}

.shoppingCart img {
    max-width: 36px;
}

.shoppingCartButton {
    border: 2px solid #000;
    background: none;
    padding: 20px;
    border-radius: 15px;
    font-weight: bold;
    width: 90px;
}

.shoppingCartButton:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.0);
}