.listaHeader {
    background: #303B9F;
    color: #fff;
    font-size: 18px;
    padding-left: 10%;
    padding-top: 20%;
    height: 30vh;
}

.listaDescricao {
    display: flex;
    flex-direction: column;
    padding: 10%;
    width: 100%;
}

.shoppingCart img {
    max-width: 36px;
}

.shoppingCartButton {
    border: 2px solid #000;
    background: none;
    padding: 20px;
    border-radius: 15px;
    font-weight: bold;
    width: 90px;
}

.shoppingCartButton:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.0);
}